/* calendar.css */
.calendarContainer {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
  }
  
  .rbc-calendar {
    background-color: #f9f9f9;
  }
  
  .rbc-event {
    color: #fff;
    padding: 1px;
    border-radius: 4px;
  }
  
  .rbc-toolbar {
    background-color: #6495ED;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
  }
  
  .rbc-toolbar button {
    background-color: #fff;
    color: #0044cc;
    border: 1px solid #0044cc;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .rbc-toolbar button:hover {
    background-color: #f13b3b;
    color: #fff;
  }
  
  .rbc-month-view, .rbc-time-view {
    border-top: 1px solid #e3f5ff;
  }
  
  .rbc-month-row {
    border-bottom: 1px solid #ddd;
  }
  
  .rbc-day-bg {
    border-right: 1px solid #ddd;
  }
  
  .rbc-time-gutter {
    background-color: #f1f1f1;
  }
  
  .rbc-time-header {
    border-bottom: 1px solid #ddd;
    background-color: #f1f1f1;
  }
  
  .rbc-today {
    background-color: #96cfe9;
  }
  
  .rbc-selected {
    border: 2px solid red !important; /* Spessore del bordo e colore rosso */
   
}
  